/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="radio"] {
  display: none;
}

/* utils */

:root {
  --padding-size: 35px;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

/* header */

.header {
  padding-top: 35px;
}

.header-item {
  margin: 0 auto;
  text-align: center;
  font-size: 1.1em;
}

/* food type radio */
.food-type {
  padding-top: var(--padding-size);
  display: flex;
  gap: 40px;
}

.food-type > div > label {
  font-size: 2.5em;
}

.underbar-food-type {
  height: 0.2em;
  width: 100%;
  background-color: red;
  margin-top: 5px;
  border-radius: 10px;
  display: none;
}

.food-type-selector[type="radio"]:checked + .underbar-food-type {
  display: block;
}

.food-type-pasti {
}

/* .debug * {
  border: 1px dashed black;
  background-color: grey;
} */
