/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* input[type="radio"] {
  display: none;
} */

/* utils */

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: var(--padding-size);
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

:root {
  --padding-size: 35px;
}
.container {
  margin: 0 auto;
  padding: 0px 20px;
}

img {
  display: block;
}

.i-white {
  color: #fff;
}

/* header */

.header {
  height: 30vh;
}

.header-item {
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
}

/* LIST DAYS */

#wrapper {
  opacity: 1;
  transition: opacity 0.7s linear;
}

#wrapper.hide {
  opacity: 0;
  transition: opacity 0.2s linear;
}

#days-list-item {
  width: 1vw;
  display: flex;
  justify-content: center;
}

.day-selector-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#days-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: calc(10px + 2vh);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
  max-height: 0px;
  overflow: hidden;
  z-index: 1;
}

#days-container.hide {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.3s linear;
}

#days-container.show {
  max-height: 100%;
  transition: max-height 0.3s linear;
}

.day {
  padding: 0 40px;
}

#fa-chevron-down {
  transition: transform 0.3s linear;
}

#fa-chevron-down.rotate {
  transform: rotate(180deg);
  transition: transform 0.3s linear;
}

.day.active {
  color: #776ad4;
}

/* upper selection */
.food-types {
  padding-top: var(--padding-size);
  display: flex;
  gap: 20px;
}

.food-types > div > p {
  font-size: 2em;
}

.underbar {
  height: 0.25em;
  width: 100%;
  background-color: #776ad4;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.25s;
}

.underbar.activated {
  opacity: 1;
}

.food-bottom-selector {
  padding-top: var(--padding-size);
  display: flex;
  gap: 10px;
}

.bottom-selector {
  border: 1px solid #555;
  padding: 12px 14px;
  border-radius: 20px;
  color: #555;
  opacity: 0.5;
  font-size: 0.9em;
  font-weight: 600;
  transition: background-color 0.25s;
  transition: opacity 0.25s;
}

.bottom-selector.selected {
  border: 1px solid #ffcc00;
  background-color: #ffcc00;
  color: #212121;
  opacity: 1;
  font-weight: 600;
}

/* main */

.cards-container {
  padding-top: var(--padding-size);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 70vh;
}

.card-single-ingredients {
  display: flex;
  width: 95%;
  height: 100px;
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 20px darkgrey;
  margin-bottom: var(--padding-size);
}

.card-ingredients-description {
  padding-left: 25px;
  padding-top: 15px;
}

.card-ingredients-description > span {
  display: block;
}

.card-ingredients-image {
  width: 170px;
  height: 150px;
  position: absolute;
  left: 55%;
  bottom: -7%;
}

.card-ingredients-image > img {
  width: 100%;
}

.card-ingredients-description > .ingrediens-title {
  font-size: 1.2em;
  font-weight: 700;
  color: #212121;
}

.card-ingredients-description > .ingredients-grams {
  color: #555;
  font-size: 0.9em;
}

.invisible-margin {
  height: 100px;
}

/* cards container hide */

.container > .cards-container.hide {
  display: none;
}

.container .card-single-ingredients.hide {
  display: none;
}

/* media query */

@media screen and (min-width: 400px) {
  .header {
    height: 23vh;
  }
}
